body {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    /* height: 100vh; */
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #15803d;
    color: white;
    display: grid;
    padding-left: 20px;
}

.sidebar .sidebar-item {
    display: flex;
    height: 30px;
    align-items: center;
    font-weight: bold;

}

.sidebar-item:nth-child(1) {
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sidebar-item:nth-child(7) {
    padding-top: 20px;
}

.sidebar > div > div {
    padding: 10px;
}


* {
    padding: 0;
    margin: 0;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 80px;
    background-color: #ef4444;
}

.icon-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-user .woodpecker {
    margin: 15px;
    height: 40px;
    width: 40px;
}

.icon-user .morgan {
    font-weight: bold;
    color: white;
}

.hi-there {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.hi-there img {
    height: 50px;
    width: 50px;
    justify-self: flex-end;
    align-self: center;
    padding-right: 15px;
}

.hey-there-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-weight: bold;
}

.smaller-text {
    font-size: 12px;
}





.buttons {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

button {
    background-color: #06b6d4;
    appearance: none;
    border-radius: 20px;
    color: white;
    width: 80px;
    height: 35px;
    margin: 15px;
    border: none;
    font-weight: bold;
}


input[type="search"] {
    width: 500px;
    height: 25px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    background-color: #dce2e9;
    border: none;
    
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    padding: 5px;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}