body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(188, 206, 206);
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #15803d;
    color: white;
    display: grid;
    padding-left: 20px;
    grid-template-rows: repeat(minmax(0, 1fr));
}

.sidebar-item {
    display: flex;
    height: 30px;
    align-items: center;
    font-weight: bold;
}

.sidebar-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-item:nth-child(1) {
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sidebar-item:nth-child(7) {
    padding-top: 20px;
}

.sidebar > div > div {
    padding: 10px;
}


* {
    padding: 0;
    margin: 0;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 80px;
    background-color: #ef4444;
}

.icon-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-user .woodpecker {
    margin: 15px;
    height: 40px;
    width: 40px;
}

.icon-user .morgan {
    font-weight: bold;
    color: white;
}

.hi-there {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.hi-there img {
    height: 50px;
    width: 50px;
    justify-self: flex-end;
    align-self: center;
    padding-right: 15px;
}

.hey-there-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-weight: bold;
}

.smaller-text {
    font-size: 12px;
}

.buttons {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

button:hover {
    cursor: pointer;
}

button {
    background-color: #06b6d4;
    appearance: none;
    border-radius: 20px;
    color: white;
    width: 80px;
    height: 35px;
    margin: 15px;
    border: none;
    font-weight: bold;
}


input[type="search"] {
    width: 500px;
    height: 25px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    background-color: #dce2e9;
    border: none;
    
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    padding: 5px;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    background-color: #268dd1;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    height: 90%;
}

.announcements-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgb(238, 232, 232);
    color: white;
    padding: 20px;
    
}

.announcements-item:nth-child(3) {
    box-shadow: none;
}

.announcements-item p {
    font-size: 10px;

}

.headertext {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-right: 20px;
    background-color: #00ffd5;
    border-radius: 10px;
}

.trending-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}

.username-text {
    padding-left: 10px;
}

.graytext {
    color:rgb(105, 116, 116)
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 20px;

}

.main-content-item {
    display: flex;
    border-left: 8px solid rgb(228, 130, 18);
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    background-color: #968400;
} 


.main-content-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

}

.main-content-item > div:nth-child(1) {
    font-weight: bold;

}

.main-content-item > div:nth-child(1):hover {
    cursor: pointer;
    text-decoration: underline;
}
